<div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto mt-3">
          <div class="card">
            <div class="card-header text-center">
              <h3>Configure Project</h3>
              <a href="./index.html" class="btn btn-primary"
                ><i class="fas fa-arrow-alt-circle-left"></i> Back</a
              >
            </div>
          </div>
          <div class="card-content">
            <form action="">           
              <div class="form-group">
                <label for="thumbnail">Thumbnail</label>
                <input type="text" class="form-control" name="thumbnail" />
              </div>
              <div class="form-group">
                <label for="projectName">ProjectName</label>
                <input type="text" class="form-control" name="projectName" />
              </div>
              <div class="form-group">
                <label for="projectdecription">Project Description</label>
                <input type="text" class="form-control" name="projectdecription" />
              </div>
              <div class="form-group">
                <label for="link">Link</label>
                <input type="file" class="form-control" name="link" />
              </div>                
              <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>