<div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto mt-3">
          <div class="card">
            <div class="card-header text-center">
              <h3>Configure Skills</h3>
              <a href="./index.html" class="btn btn-primary"
                ><i class="fas fa-arrow-alt-circle-left"></i> Back</a
              >
            </div>
          </div>
          <div class="card-content">
            <form action="">
              <div class="form-group">
                <label for="logo">Logo</label>
                <input type="text" class="form-control" name="logo" />
              </div>
              <div class="form-group">
                <label for="skillHeader">SkillHeader</label>
                <input type="text" class="form-control" name="skillHeader" />
              </div>
              <div class="form-group">
                <label for="SkillDescription">SkillDescription</label>
                <input type="text" class="form-control" name="SkillDescription" />
              </div>
              <div class="form-group">
                <label for="firstSkill">FirstSkill</label>
                <input type="text" class="form-control" name="firstSkill" />
              </div>
              <div class="form-group">
                <label for="SecondSkill">SecondSkill</label>
                <input type="file" class="form-control" name="SecondSkill" />
              </div>
              <div class="form-group">
                <label for="thirdSkill">ThirdSkill</label>
                <input type="text" class="form-control" name="ThirdSkill" />
              </div>
              <div class="form-group">
                <label for="fourthSkill">FourthSkill</label>
                <input type="text" class="form-control" name="FourthSkill" />
              </div>      
              <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>