<div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto mt-3">
          <div class="card">
            <div class="card-header text-center">
              <h3>Configure State</h3>
            </div>
          </div>
          <div class="card-content">
            <form action="/state" method="POST">
              <div class="form-group">
                <label for="client">Client</label>
                <input value={{ state.client }} name="client" class="form-control" name="client" />
              </div>
              <div class="form-group">
                <label for="project">Projects</label>
                <input value={{ state.project }} name="project" class="form-control" name="projects" />
              </div>
              <div class="form-group">
                <label for="apps">Apps</label>
                <input value={{ state.app }} name="app" class="form-control" name="apps" />
              </div>
              <div class="form-group">
                <label for="websites">Websites</label>
                <input value={{ state.website }} name="website"  class="form-control" name="websites" />
              </div>
              <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>