<div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto mt-3">
          <div class="card">
            <div class="card-header text-center">
              <h3>Configure User</h3>
              <a href="./user.html" class="btn btn-primary"
                ><i class="fas fa-arrow-alt-circle-left"></i> Back</a
              >
            </div>
          </div>
          <div class="card-content">
            <form action="">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="SkillDescription" />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" name="password" />
              </div>
              <div class="form-group">
                <label for="status">Status</label>
                <input type="file" class="form-control" name="status" />
              </div>                 
              <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>