<div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto mt-3">
          <div class="card">
            <div class="card-header text-center">
              <h3>Configure Utility</h3>
              <a href="./index.html" class="btn btn-primary"
                ><i class="fas fa-arrow-alt-circle-left"></i> Back</a
              >
            </div>
          </div>
          <div class="card-content">
            <form action="">
              <div class="form-group">
                <label for="logo">Logo</label>
                <input type="text" class="form-control" name="logo" />
              </div>
              <div class="form-group">
                <label for="fullname">Full Name</label>
                <input type="text" class="form-control" name="fullname" />
              </div>
              <div class="form-group">
                <label for="designation">Designation</label>
                <input type="text" class="form-control" name="designation" />
              </div>
              <div class="form-group">
                <label for="description">description</label>
                <input type="text" class="form-control" name="description" />
              </div>
              <div class="form-group">
                <label for="aboutPhoto">Upload Photo</label>
                <input type="file" class="form-control" name="aboutPhoto" />
              </div>
              <div class="form-group">
                <label for="facebook">Facebook</label>
                <input type="text" class="form-control" name="facebook" />
              </div>
              <div class="form-group">
                <label for="twitter">Twitter</label>
                <input type="text" class="form-control" name="twitter" />
              </div>
              <div class="form-group">
                <label for="instagram">Instagram</label>
                <input type="text" class="form-control" name="instagram" />
              </div>
              <div class="form-group">
                <label for="youtube">Youtube</label>
                <input type="text" class="form-control" name="youtube" />
              </div>
              <div class="form-group">
                <label for="thirdSkill">Facebook</label>
                <input type="text" class="form-control" name="facebook" />
              </div>
              <div class="form-group">
                <label for="twitter">Twitter</label>
                <input type="text" class="form-control" name="twitter" />
              </div>
              <div class="form-group">
                <label for="instagram">Instagram</label>
                <input type="text" class="form-control" name="instagram" />
              </div>
              <div class="form-group">
                <label for="youtube">Youtube</label>
                <input type="text" class="form-control" name="youtube" />
              </div>
              <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>