<div class="container">
      <div class="row">
        <div class="col-md-6 mt-3">
          <div class="card">
            <div class="card-header text-center">
              <h3>Utility</h3>
            </div>
          </div>
          <div class="card-content">
            <form action="">
              <div class="form-group">
                <label for="fullname">Full Name</label>
                <input type="text" class="form-control" name="fullname" />
              </div>
              <div class="form-group">
                <label for="designation">Designation</label>
                <input type="text" class="form-control" name="designation" />
              </div>
              <div class="form-group">
                <label for="description">description</label>
                <input type="text" class="form-control" name="description" />
              </div>
              
              <div class="form-group">
                <label for="facebook">Facebook</label>
                <input type="text" class="form-control" name="facebook" />
              </div>
              <div class="form-group">
                <label for="twitter">Twitter</label>
                <input type="text" class="form-control" name="twitter" />
              </div>
              <div class="form-group">
                <label for="instagram">Instagram</label>
                <input type="text" class="form-control" name="instagram" />
              </div>
              <div class="form-group">
                <label for="youtube">Youtube</label>
                <input type="text" class="form-control" name="youtube" />
              </div>
              
              <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Save </button>
              </div>
            </form>
          </div>
        </div>


        <div class="col-md-6 mt-3">
          <div class="card">
            <div class="card-header text-center">
              <h3>Upload Photo</h3>
            </div>
          </div>
          <div class="card-content">
            <form action="/admin/banner-logo" method="POST">
              <div class="form-group mt-4">
                <label for="aboutPhoto">Upload Photo</label>
                <input type="file" class="form-control" id="bannerImg" />
                <input type="hidden" name="bannerImgInput" id="bannerImgInput" value="{{utility.aboutPhoto}}">
              </div>
              <div class="form-group mt-3">
                <label for="aboutPhoto">Upload Logo</label>
                <input type="file" class="form-control" id="logoImg"  />
                <input type="hidden" name="logoImgInput" id="logoImgInput" value="{{utility.logo}}">
              </div>
              <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Save Photo</button>
              </div>
            </form>
          </div>

          <div class="card mt-2 p-2">
          <div class="card-content">
            <div class="row">
              <div class="col-md-12">

                <div class="data">
                    <h3>Current Banner Image</h3>
                    <img src="{{utility.aboutPhoto}}" class="img-fluid" id="show-banner-img">
                    <img src="{{utility.logo}}" class="img-fluid" id="show-logo-img">
                </div>
                <div style="display: none;" class="loader">
                  <img src="/img/loading.gif">
                </div>
                
              </div>
            </div>
          </div>
          </div>
        </div>
        
      </div>
    </div>

    <script>
      // Image upload
     const bannerImg =  document.getElementById('bannerImg');
     const logoImg =  document.getElementById('logoImg');

     bannerImg.addEventListener('change', async(e)=> {
       document.querySelector('.loader').style.display = 'block'
      const data =  await handleUpload(e);
      document.querySelector('.loader').style.display = 'none'

      document.querySelector('#bannerImgInput').value = data.fileLocation
      document.querySelector('#show-banner-img').setAttribute('src', data.fileLocation)
     })

     logoImg.addEventListener('change', async(e)=> {
       document.querySelector('.loader').style.display = 'block'
      const data =  await handleUpload(e);
      document.querySelector('.loader').style.display = 'none'
      document.querySelector('#logoImgInput').value = data.fileLocation
      document.querySelector('#show-logo-img').setAttribute('src', data.fileLocation)
     })

    </script>