<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
        *{
            margin:0;
            padding:0;
            box-sizing: border-box;
        }

        body{
            font-family: 'Courier New', Courier, monospace;
        }

        a{
            text-decoration: none;
            font-size:20px;
        }
    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10%;
        background-color: #3090a1;
    }
    .menu{
        list-style: none;
    }
    .menu li {
         display: inline-block;
         padding:0px 15px;
    }
    .menu li a{
        color:#fff;
        letter-spacing: 1.2px;
    }
    .ctx a {
        text-decoration: none;
        color:#fff;
    }
    .logo{
        font-size:25px;
        color:#fff;
    }
    .container{
        margin:0px 10%;
    }
    .card-header {
        display: flex;
        justify-content: space-between;
      }

      .hide{
          display: none;
      }
      .show{
          display: block ;
      }

      .loader{
          width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .loader img{
          width: 50px;
          height: 50px;
      }

      #show-banner-img,
      #show-logo-img{
          width: 100px;
          height:100px
      }
</style>
</head>
<body>
    
    <header>
        <a class="logo">
            Tuli Portlio
        </a>
        <ul  class="menu">
            <li><a href="/admin">Home</a></li>
            <li><a href="/admin/state">State</a></li>
            <li><a href="/admin/skill">Skills</a></li>
            <li><a href="/admin/utility">Utility</a></li>
            <li><a href="/admin/project">Project</a></li>
            <li><a href="/admin/message">message</a></li>
        </ul>

        <div class="ctx">
            <a href="/admin/logout">Logout</a>
        </div>
    </header>
    {{{ body }}}

    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-storage.js"></script> 
    <script>

        var firebaseConfig = {
            apiKey: "AIzaSyBpOcvzGSsA66wVZCpxLLvaXDkeptnC8Gw",
            authDomain: "portfolio-project-9263d.firebaseapp.com",
            projectId: "portfolio-project-9263d",
            storageBucket: "portfolio-project-9263d.appspot.com",
            messagingSenderId: "486523862936",
            appId: "1:486523862936:web:0e855402587224b03675ed"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

          // Image Upload 
        const handleUpload = (event) => {
            return new Promise((resolve, reject) => {
            const file = event.target.files[0];
            let filename =
            Date.now() + "." + String(file.name).split(".")[1];
            // updaload file and resolve
            const storageRef = firebase.storage().ref(filename)
            const uploadTask = storageRef.put(file);
            uploadTask.on('state_changed', 
            (snapshot) => {
                // show Percentage
            }, 
            (error) => {
                // Handle unsuccessful uploads
            }, 
            () => {
                // Handle successful uploads on complete
                // For instance, get the download URL: https://firebasestorage.googleapis.com/...
                uploadTask.snapshot.ref.getDownloadURL().then((downloadURL) => {
                resolve({
                    fileName:filename,
                    fileLocation:downloadURL
                })
                });
            }
            );
            });
        };
    </script>
</body>
</html>