<div class="loader">
		<div class="inner"></div>
	</div>

	<nav id="navigation">
		<a href="/" class="logo">ALAMGIR AHAMED</a>
		<ul class="menu">
			<li><a href="#">Home</a></li>
			<li><a href="#skills">Skills</a></li>
			<li><a href="#contact">Contact</a></li>
			<li><a href="#portfolio">Projects</a></li>
		</ul>
		<a onclick="toggle()" class="mobile-nav-icon" href="#">
			<i class="fa fa-bars"></i>
		</a>
	</nav>

	<div id="Sidenav" class="sidenav">
	  <a href="#" class="closebtn" onclick="toggle()">&times;</a>
	  <a href="#">About</a>
	  <a href="#">Services</a>
	  <a href="#">Clients</a>
	  <a href="#">Contact</a>
	</div>

	<div id="about" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<img class="aboutImage" src="./img/about.jpg">
				</div>
				<div class="col-md-7 personal">
					<div class="personal-info-inner">
						<h4>My name is Alamgir Ahamed saif</h4>
						<h3>Full Stack Web Developer</h4>
						<p>
							I am a full-stack web developer having more than 5+ years of experience and having good knowledge of front-end and back-end techniques for building web applications that match client needs.

							I have developed several web applications from scratch but at the same time, I manage and update the client?s existing projects also as I have outstanding debugging skills.
							
						</p>
						<ul class="socials">
							<li>
								<a href="">
									<i class="fab fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
							<li>
								<a href="">
									<i class="fab fa-youtube"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="skills" class="skillSection section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					 <h2>TECHNICAL SKILLS</h2>
					 <p>A representation of my proficiency in each skill</p>
				</div>
				<div class="owl-carousel owl-theme">
				    <div class="skill">
				    	<span class="chart" data-percent="73">
				    		<span class="percent">73</span>
				    		<canvas height="152" width="152"></canvas>
				    	</span>
				    	<h4>NODEJS</h4>
				    	<p>used in most of my projects</p>
				    </div>
				    <div class="skill">
				    	<span class="chart" data-percent="85">
				    		<span class="percent">85</span>
				    		<canvas height="152" width="152"></canvas>
				    	</span>
				    	<h4>REACT</h4>
				    	<p>used in most of my projects</p>
				    </div>
				    <div class="skill">
				    	<span class="chart" data-percent="70">
				    		<span class="percent">70</span>
				    		<canvas height="152" width="152"></canvas>
				    	</span>
				    	<h4>ANGULAR</h4>
				    	<p>used in most of my projects</p>
				    </div>
				    <div class="skill">
				    	<span class="chart" data-percent="80">
				    		<span class="percent">85</span>
				    		<canvas height="152" width="152"></canvas>
				    	</span>
				    	<h4>NEXTJS</h4>
				    	<p>used in most of my projects</p>
				    </div>

				</div>
			</div>
		</div>
	</div>

	<div id="stats" class="statsSection section">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="squareItem">
						<div class="squareInnerContainer">
							<div class="squareIcon">
								<i class="fa fa-users">
									
								</i>
							</div>
							<div class="squareContent">
								<h2 class="counter">18</h2>
								<h3>Clients</h3>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="squareItem">
						<div class="squareInnerContainer">
							<div class="squareIcon">
								<i class="fa fa-clock">
									
								</i>
							</div>
							<div class="squareContent">
								<h2>123</h2>
								<h3>Projects</h3>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="squareItem">
						<div class="squareInnerContainer">
							<div class="squareIcon">
								<i class="fa fa-tablet">
									
								</i>
							</div>
							<div class="squareContent">
								<h2>24</h2>
								<h3>Apps</h3>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="squareItem">
						<div class="squareInnerContainer">
							<div class="squareIcon">
								<i class="fa fa-calendar">
									
								</i>
							</div>
							<div class="squareContent">
								<h2>128</h2>
								<h3>Websites</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="contact" class="contactSection section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="subHeading">
						<p class="subheading">Like what you see ?</p>
						<h3>I'd love to hear from you!</h3>
						<a class="contactButton" href="mail:alamgir72435@gmail.com">
							Get IN Touch!
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="portfolio" class="section">
		<div class="container">
			<div class="row">
				<div class="heading col-md-12">
					<h2>SOME OF MY PROJECTS</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<img src="./img/product-1.jpg" class="card-img-top">
						<div class="card-body">
							<div class="card-title">
								Mobile App
							</div>
							<p>
								this app is a Hybrid Mobile apps of a company . used Language to Build : react-native and firebase
							</p>
							<a id="liveDemoBtn" class="btn btn-block" href="#">Live Demo</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img src="./img/product-2.jpg" class="card-img-top">
						<div class="card-body">
							<div class="card-title">
								Hospital Website
							</div>
							<p>
								this app is a Hybrid Mobile apps of a company . used Language to Build : react-native and firebase
							</p>
							<a id="liveDemoBtn" class="btn btn-block" href="#">Live Demo</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img src="./img/product-3.jpg" class="card-img-top">
						<div class="card-body">
							<div class="card-title">
								GPS App
							</div>
							<p>
								this app is a Hybrid Mobile apps of a company . used Language to Build : react-native and firebase
							</p>
							<a id="liveDemoBtn" class="btn btn-block" href="#">Live Demo</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div id="copyright" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<p>&copy; BB Developers all right reserve</p>
				</div>
			</div>
		</div>
	</div>